-r requirements.txt
codecov==2.1.10
coverage==5.3
factory-boy==3.2.0
Faker==5.3.0
flake8==3.8.4
mock==2.0.0
model-mommy==1.6.0
mypy==0.790
pudb==2019.2
pytest-django==4.1.0
pytest-flake8==1.0.7
pytest-pythonpath==0.7.3
pytest==6.1.2
