{% extends "courses/course_dashboard.html" %}

{% block dashboard_content %}
{% for announcement in announcements %}
<div class="well">
    <h2>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}">{{ announcement.title }}</a>
    </h2>
    {{ announcement.content|linebreaks }}
    <p>
        <a href="{% url 'courses:show_announcement' course.slug announcement.pk %}#comments">
        <i class="fa fa-comments-o"></i>
        {% with comments_count=announcement.comments.count %}   {# armazena uma variável mais 'complexa' em uma mais 'simples', para evitar sua repetoção, a variável criada fica disponível apenas dentro desse 'with'. #}
        {{ comments_count }}       {# mostra apenas a contagem de comentários. #}
        Comentário{{ comments_count|pluralize }}        {# template tag 'pluralize', se for 0 ou mais de 1 ele vai jogar um 's' se for 1 ele mantem intácto por padrão. #}
        {% endwith %}
        </a>
    </p>
</div>
{% empty %}     {# quando não houver nenhum valor nesse 'for', vai renderizar o 'empty'. #}
<div class="well">
    <h2>Nenhum anúncio criado</h2>
</div>
{% endfor %}
{% endblock %}
