{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Fale conosco</h1>
        <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
        <h4>Links</h4>
        <ul>
            <li><i class="fab fa-github"></i> <a href="https://github.com/WesGtoX" target="_blank">WesGtoX</a></li>
            <li><i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/wesgtox/" target="_blank">Wesley Mendes</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:wesley@wesleymendes.com.br"></i>wesley@wesleymendes.com.br</a></li>
            <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/wesgtox" target="_blank">@wesgtox</a></li>
        </ul>
    </div>
</div>
{% endblock %}
