{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
    	{% if success %}
    	<p>Sua senha foi criada com sucesso</p>
    	{% else %}
        <h2>Informe sua nova Senha</h2>
        <form class="pure-form pure-form-stacked" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}      {# que são erros gerais, que não estão ligadas necessariamente a um campo, pode ser mais de um campo. #}

                {% for field in form %}     {# para cada campo no formulário (o form é da view do Django). #}
                <div class="pure-control-group">
                    {{ field.label_tag }}   {# view do Django. #}
                    {{ field }}             {# view do Django. #}
                    {{ field.errors }}      {# view do Django. #}
                </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}