{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            <li><a href="{% url 'core:home' %}">Início</a></li>
            <li>/</li>
            <li><a href="{% url 'forum:index' %}">Fórum de Discussões</a></li>
            <li>/</li>
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">
                    Tópicos do Fórum
                </li>
                <li>
                    <a href="?order=">
                        <i class="fa fa-refresh"></i>
                        Mais Recentes
                    </a>
                </li>
                <li>
                    <a href="?order=views">
                        <i class="fa fa-eye"></i>
                        Mais Visualizados
                    </a>
                </li>
                <li>
                    <a href="?order=answers">
                        <i class="fa fa-comments-o"></i>
                        Mais Comentados
                    </a>
                </li>
                <li class="pure-menu-heading">Tags</li>
                <li>
                    {% for tag in tags %}
                    <a href="{% url 'forum:index_tagged' tag.slug %}" class="tags">
                        <i class="fa fa-tag"></i>
                        {{ tag }}
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            <div class="well">
                <h2>{{ object }}</h2>
                {{ object.body|linebreaks }}
                <h5>
                    Criado por {{ object.author }}
                </h5>
                <p>
                    <i class="fa fa-tags"></i>
                    {% for tag in object.tags.all %}
                    <a href="{% url 'forum:index_tagged' tag.slug %}" title="">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    <a class="fright" href="" title="">Criado a {{ object.created|timesince }} atrás</a>
                </p>
            </div>
            <div class="well" id="#div-comments">
                <h4 id="comments">Respostas
                <a class="fright" href="#add_comment">Responder</a></h4>
                {% for reply in object.replies.all %}       {# quando estiver com uma 'thread' em questão, eu posso chamar o atributo 'replies' e automaticamente eu vou chamar todos as respostas que estão associadas com a devida 'thread'. #}
                <hr />
                {#{% filter linebreaks  %}#}
                <p>
                    <strong>{{ reply.author }}</strong> disse à {{ reply.created|timesince }} atrás:
                    <br />
                    {{ reply.reply|linebreaksbr }}
                    <br />
                    {#{% if reply.correct %}#}
                    {% if object.author == user %}       {# verificar se é o autor do tópico. #}
                    {#{% if reply.author == user %}       {# se for o autor da resposta, eu vou indicar que ele possa, cancelar a resposta, ou marcar como correta. #}
                    <a href="{% url 'forum:reply_incorrect' reply.pk %}" title="" class="pure-button button-error reply-cancel-correct-lnk{% if not reply.correct %} hidden{% endif %}">Cancelar Resposta Correta</a>    {# se a resposta não for correta, não vai aparecer esse botão. #}

                    <a href="{% url 'forum:reply_correct' reply.pk %}" title="" class="pure-button button-success reply-correct-lnk{% if reply.correct %} hidden{% endif %}">Resposta Correta</a>   {# se a resposta for correta, não vai aparecer esse botão, aparece o de cima. #}

                    <span class="fright label-success reply-correct-msg{% if not reply.correct %} hidden{% endif %}">resposta indicada pelo autor</span>
                    {#{% endif %}#}
                    <br class="reply-correct-msg{% if not reply.correct %} hidden{% endif %}" />
                    {#{% elif reply.author == user %}#}
                    {% elif reply.correct %}
                    <span class="fright label-success">resposta indicada pelo autor</span>
                    <br />
                    {% endif %}
                </p>
                {#{% endfilter %}#}
                {% endfor %}
                <hr />
                <form method="post" class="pure-form pure-form-stacked" id="add_comment">
                    <fieldset>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="pure-control-group"> 
                            {{ field.label_tag }}
                            {{ field }}
                            {{ fiels.errors }}
                        </div>
                        {% endfor %}
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(".reply-cancel-correct-lnk").on("click", function(e) {    // pega todos os elementos que tiver 'reply-cancel-correct-lnk'.
        e.preventDefault();     // cancela o evento.
        var $this = $(this);    // cria o objeto 'json' com o 'this', só para poder facilitar a vida.
        var $p = $this.closest("p");     // pega o parágrafo que engloba a resposta.
        $.get($this.attr('href'), function(data) {      // faz a requisição via 'get ajax'.
            if(data.success) {      // se os dados retornados forem um 'json' e forem 'sucesso', tiver a variável 'success == True'.
                $p.find(".reply-correct-msg").addClass('hidden');       // esconde a mensagem de 'reply-correct-msg'.
                $this.addClass('hidden');       // esconde o botão de cancelar a resposta.
                $p.find('.reply-correct-lnk').removeClass('hidden');        // e deixa o botão de indicar a resposta correta, deixa ele visível.
            } else {        // se der algum tipo de erro, se não for 'success'.
                alert(data.message);        // da um alerta.
            }
        }, 'json');
        return false;        // pode ser colocado o return ou o 'e.preventDefault()', os dois cancela o evento.
    });
    $('.reply-correct-lnk').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);    // cria o objeto 'json' com o 'this', só para poder facilitar a vida.
        var $p = $this.closest("p");     // pega o parágrafo que engloba a resposta.
        $.get($this.attr('href'), function(data) {
            if(data.success) {
                $("#div-comments .reply-correct-msg").addClass('hidden');     // supondo que já tenha algumas respostas corretas antes, primeiro esconde todas.
                $("#div-comments .reply-cancel-correct-lnk").addClass('hidden');     // se houver uma resposta correta antes, o 'reply-cancel-correct-lnk' estava visível, então adiciona o 'hidden' e ele não fica visível.
                $("#div-comments .reply-correct-lnk").removeClass('hidden');     // se houver uma resposta antes, esse 'reply-correct-lnk' não estava visível, então agora remove a classe 'hidden', e ele fica visível.

                $p.find(".reply-correct-msg").removeClass('hidden');       // remove a classe 'hidden' da resposta atual. Para apenas ela ficar visível.
                $this.addClass('hidden');       // adiciona a classe 'hidden' para esse elemento, que é o 'reply-correct-lnk'.
                $p.find('.reply-cancel-correct-lnk').removeClass('hidden');        // remove a classe 'hidden' para o botão 'reply-cancel-correct-lnk' poder ser exibido.
            } else {
                alert(data.message);
            }
        }, 'json');
        return false;
    });
</script>
{% endblock %}
