{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            <li><a href="{% url 'core:home' %}">Início</a></li>
            <li>/</li>
            <li><a href="{% url 'forum:index' %}">Fórum de Discussões</a></li>
            <li>/</li>
            <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">
                    Tópicos do Fórum
                </li>
                <li>
                    <a href="?order=">
                        <i class="fa fa-refresh"></i>
                        Mais Recentes
                    </a>
                </li>
                <li>
                    <a href="?order=views">
                        <i class="fa fa-eye"></i>
                        Mais Visualizados
                    </a>
                </li>
                <li>
                    <a href="?order=answers">
                        <i class="fa fa-comments-o"></i>
                        Mais Comentados
                    </a>
                </li>
                <li class="pure-menu-heading">Tags</li>
                <li>
                    {% for tag in tags %}
                    <a href="{% url 'forum:index_tagged' tag.slug %}" class="tags">
                        <i class="fa fa-tag"></i>
                        {{ tag }}
                    </a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            <div class="well">
                <h2>{{ object }}</h2>
                {{ object.body|linebreaks }}
                <h5>
                    Criado por {{ object.author }}
                </h5>
                <p>
                    <i class="fa fa-tags"></i>
                    {% for tag in object.tags.all %}
                    <a href="{% url 'forum:index_tagged' tag.slug %}" title="">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    <a class="fright" href="" title="">Criado a {{ object.created|timesince }} atrás</a>
                </p>
            </div>
            <div class="well">
                <h4 id="comments">Respostas
                <a class="fright" href="#add_comment">Responder</a></h4>
                {% for reply in object.replies.all %}       {# quando estiver com uma 'thread' em questão, eu posso chamar o atributo 'replies' e automaticamente eu vou chamar todos as respostas que estão associadas com a devida 'thread' #}
                <hr />
                {% filter linebreaks  %}
                <strong>{{ reply.author }}</strong> disse à {{ reply.created|timesince }} atrás:
                {{ reply.reply}}
                {% endfilter %}
                {% endfor %}
                <hr />
                <form method="post" class="pure-form pure-form-stacked" id="add_comment">
                    <fieldset>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="pure-control-group"> 
                            {{ field.label_tag }}
                            {{ field }}
                            {{ fiels.errors }}
                        </div>
                        {% endfor %}
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}